.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

td, th {
    /* border: solid 1px black; */
}

table {
    border-collapse: collapse;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart-table td, .cart-table th {
    padding: 15px;
    border: 1px solid #c2d3de;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: chocolate;
}

.btn:focus {
    background-color: grey;
}

.btn:active {
    background-color: brown;
    border: 2px solid black;
}

.input-test {
    font-size: 20px;
}

.input-test:focus {
    border-bottom: 4px solid red;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: yellow;
}

.custom-link:visited {
    color: beige;
}