.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}

td,
th {
    /* border: solid 1px black; */
}

table {
    border-collapse: collapse;
}

.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
}

.cart-table td,
.cart-table th {
    padding: 15px;
    border: 1px solid #c2d3de;
}

.btn {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: coral;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: chocolate;
}

.btn:focus {
    background-color: grey;
}

.btn:active {
    background-color: brown;
    border: 2px solid black;
}

.input-test {
    font-size: 20px;
}

.input-test:focus {
    border-bottom: 4px solid red;
}

.custom-link {
    text-decoration: none;
}

.custom-link:link {
    color: yellow;
}

.custom-link:visited {
    color: beige;
}



.flex-container {
    height: 500px;
    display: flex;
    /* 정렬 */
    justify-content: center;
    /* 가로 세로 배치 */
    flex-direction: row;
    /* width 크면 밑으로 보내고 싶을 때 */
    /* flex-wrap: wrap; */
    /* flex 이용시 상하정렬 */
    align-items: flex-start;
}

.flex-item {
    width: 200px;
    height: 100px;
    background-color: grey;
    margin: 5px;
}


.nav-container {
    display: flex;
    height: 40px;
    align-items: center;
}

.nav-item {
    padding: 5px;
    margin-right: 10px;
    padding: 10px;
}

